__pycache__
*.pyc
*.pyd
.Python
env/
venv/
pip-log.txt
.tox/
.cache
mlruns/
mlflow.db
*.ipynb
images/
README.md
.gitignore
app/model/logistic_trained_pipeline-*.pkl
app/model/svm_trained_pipeline-*.pkl